.lectureWrapper {
    padding: 30px 200px;
    margin-bottom: 120px;
    width: 100%;
    position: relative;
    .lectureTitle {
        margin-top: 30px;
        font-size: 2em;
    }
    .lectureContent {
        color: #4b4b4b;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }
}
