.content {
    height: 1600px;
    padding: 50px 15%;
    border: 1px solid red;
}

.userInfo {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    span {
        margin-right: 10px;
        width: 20px;
    }
}

.titleProfile {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    word-break: break-word;
    margin-bottom: 10px;
}
