.content {
    height: 1600px;
    padding: 50px 120px;
    border: 1px solid red;
}

.avatarWrapper {
    margin-right: 48px;
    margin-left: 0px;
    img {
        height: 180px;
        width: 180px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

.inforWrapper {
    border: 1px solid black;
    .userName {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        word-break: break-word;
    }
    .userId {
        font-size: 17px;
        font-weight: 500;
        line-height: 20px;
        color: #afafaf;
    }
}
