.sideBar {
    height: 100vh;
    border: 1px solid;
    border-color: rgb(152, 208, 240);
    padding: 15px;
    position: fixed;
    width: calc(var(--web-ui_navbar-width-no-labels, 56px) + 32px);
    @media (min-width: 1160px) {
        width: calc(var(--web-ui_navbar-width, 224px) + 32px);
    }
}

.logo {
    height: 30px;
    padding: 32px 0px 30px 16px;
    display: flex;
    align-items: center;
    img {
        width: 80%;
    }
}

.itemNavBar {
    border: 2px white solid;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 16px;
    color: #777777;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    &:hover {
        border: #84d8ff 2px solid;
        color: #1cb0f6;
        animation: none;
        -webkit-animation: none;
    }
    span {
        display: none;
        @media (min-width: 1160px) {
            display: inline-block;
        }
    }
    // border: 2px solid #d0cece;
}
.itemActive {
    border: #84d8ff 2px solid;
    background-color: #ddf4ff;
    color: #1cb0f6;
}
.imgItem {
    margin-right: 20px;
}
.itemNavBarMore {
    border: 2px white solid;
    padding: 5px;
    margin-top: 10px;
    width: 120px;
    // height: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #777777;
    &:hover {
        border: #84d8ff 2px solid;
        color: #1cb0f6;
        animation: none;
        -webkit-animation: none;
    }
    span {
        display: none;
        @media (min-width: 1160px) {
            display: inline-block;
        }
    }
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
