.sideBar {
    height: 100vh;
    border: 1px solid;
    border-color: rgb(152, 208, 240);
    padding: 10px;
    position: fixed;
    width: calc(var(--web-ui_navbar-width-no-labels, 56px) + 32px);
    @media (min-width: 1160px) {
        width: calc(var(--web-ui_navbar-width, 224px) + 32px);
    }
}

.logo {
    height: 30px;
    padding: 32px 0px 30px 16px;
    border: 1px solid black;
}

.itemNavBar {
    margin-top: 10px;
    width: 100%;
    height: 55px;
}
