.sideBar {
    left: 0;
    top: 0;
    position: fixed !important;
    z-index: 1;
    height: 100vh;
    background-color: rgb(152, 208, 240);
    padding: 10px;
    @media (min-width: 1160px) {
        width: calc(var(--web-ui_navbar-width, 224px) + 32px);
    }
}

.logo {
    height: 30px;
    padding: 32px 0px 30px 16px;
    border: 1px solid black;    
}
