.codePracticeWrapperCustom {
    .ant-tabs-nav {
        margin: 0px !important;
        &::before {
            border: none !important;
        }
    }
    .ant-tabs-tab-active {
        * {
            color: rgba(38, 38, 38, 0.7) !important;
        }
    }

    .ant-tabs-tab {
        &:hover {
            color: rgba(38, 38, 38, 0.7) !important;
        }
        &:focus {
            color: rgba(38, 38, 38, 0.7) !important;
        }
        &:active {
            color: rgba(38, 38, 38, 0.7) !important;
        }
    }
    .ant-tabs-tab-btn {
        &:hover {
            color: rgba(38, 38, 38, 0.7) !important;
        }
        &:focus {
            color: rgba(38, 38, 38, 0.7) !important;
        }
        &:active {
            color: rgba(38, 38, 38, 0.7) !important;
        }
    }
    .ant-tabs-ink-bar {
        background: rgb(26, 26, 26) !important;
    }

    .ant-spin-dot-item {
        background-color: rgb(26, 26, 26) !important;
    }
}

.detailDescription {
    // overflow-y: scroll;

    p {
        margin-bottom: 1rem;
    }
    pre {
        border-left: 2px solid #00000014;
        color: #1a1a1a !important;
        // font-family: Menlo, sans-serif !important;
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        overflow: visible;
        padding-left: 1rem;
        white-space: pre-wrap;
    }
    strong {
        color: #1a1a1a !important;
    }

    ul {
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    li {
        margin-bottom: 0.75rem;
        &::marker {
            unicode-bidi: isolate;
            font-variant-numeric: tabular-nums;
            text-transform: none;
            text-indent: 0px !important;
            text-align: start !important;
            text-align-last: start !important;
        }
    }

    code {
        background-color: #000a2008;
        border: 1px solid #0000000d;
        color: #262626bf !important;
        border-radius: 5px;
        font-family: Menlo, sans-serif !important;
        font-size: 0.75rem;
        line-height: 1rem;
        padding: 0.125rem;
        white-space: pre-wrap;
    }
}
