.gutterSplit {
    height: 100vh !important;
    background-color: #434252;
}
.problemDetail {
    height: 100vh;
    border: 1px solid;
}

.codeEditor {
    height: 60%;
    border: 1px solid;
}
.codePracticeWrapper {
    position: relative;
    .userInteract {
        height: 100vh;
        border: 1px solid;
        width: 100%;
        .consoleWrapper {
            padding-left: 10px;
            width: 100%;
            .contentConsole {
                width: 100%;
            }
        }
    }
    .btnWrapper {
        padding-left: 10px;
        padding-bottom: 5px;
        position: absolute;
        bottom: 0;
        width: 100%;
        .btnShowConsole {
            position: absolute;
            bottom: 5px;
            right: 500px;
            cursor: pointer;
            font-weight: bold;
        }
        .btn {
            position: absolute;
            bottom: 5px;
            cursor: pointer;
            border: 1px solid;
            height: 30px;
            display: flex;
            align-items: center;
            font-weight: bold;
            justify-content: center;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            color: #eff1f6bf;
        }
        .btnRun {
            width: 50px;
            right: 100px;
            background-color: rgb(69, 69, 69);
            &:hover {
                background-color: rgb(92, 92, 92);
            }
        }
        .btnSubmit {
            right: 10px;
            width: 80px;
            color: white;
            background-color: rgb(44, 187, 93);
            &:hover {
                background-color: rgb(51, 212, 107);
            }
        }
    }
}
