body {
    background-color: #f0f0f0;
}
.gutterSplit {
    height: calc(100vh - 65px) !important;
    background-color: #f0f0f0;
}
.codePracticeWrapper {
    position: relative;
    background-color: #f0f0f0;
    padding: 10px;
    .problemHeader {
        color: rgb(255, 255, 255);
        height: 40px;
        padding-bottom: 10px;
        .btnBackWrapper {
            display: flex;
            align-items: center;
            .btnBack {
                background-color: rgba(0, 0, 0, 0.05);
                padding: 5px 10px;
                margin-right: 1.5px;
                color: rgba(0, 0, 0, 0.6);
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                    // color: rgba(0, 0, 0, 0.5);
                }
                transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                -ms-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }
        .btnExecuteWrapper {
            display: flex;
            justify-content: center;
            .btn {
                background-color: rgba(0, 0, 0, 0.05);
                padding: 5px;
                margin-right: 1.5px;
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
                transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                -ms-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
            }
            .btnRun {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                color: rgba(0, 0, 0, 0.6);
            }
            .btnSubmit {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                color: rgb(1, 179, 40);
            }
        }
    }
    .problemDetail {
        height: calc(100vh - 65px);
        padding: 20px 0px 20px 20px;
        border: 1px solid;
        background-color: #262626;
        .problemDescription {
            height: 100%;
            color: white;
            .problemTitle {
                font-size: 24px;
                line-height: 32px;
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .userInteract {
        height: calc(100vh - 65px);
        width: 100%;
        .pythonEditor {
            height: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            .header {
                height: 30px;
                display: flex;
                align-items: center;
                background-color: #00000005;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                color: rgb(26, 26, 26);
                font-weight: 500;
                padding: 0px 10px;
                font-size: 13px;
            }
            .footer {
                display: flex;
                align-items: center;
                background-color: #00000005;
                height: 25px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                color: rgba(255, 255, 255, 0.5);
                font-weight: 400;
                padding: 0px 10px;
                font-size: 13px;
            }
        }
        .consoleWrapper {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            background-color: #262626;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none;
            .tabBarHeader {
                position: sticky;
                top: 0px;
                overflow: hidden;
                background-color: rgb(51, 51, 51);
                color: rgb(119, 119, 119);
                font-weight: bold;
                padding-left: 10px;
                z-index: 100;
                margin-bottom: 10px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .contentConsole {
                padding: 0px 0px 10px 20px;
                width: calc(100% - 30px);
                color: white;
            }
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
}

.problemDrawer {
    border: 1.5px solid;
    border-color: rgba(255, 255, 255, 0.12);
    .problemItem {
        height: 50px;
        cursor: pointer;
        border-bottom-width: 1.5px;
        border-bottom-style: solid;
        border-bottom-color: rgba(255, 255, 255, 0.12);
        display: grid;
        align-items: center;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    border-radius: 8px;
    .level {
        text-align: end;
    }
    .title {
        div {
            margin-left: 10px;
        }
    }
}
