body {
    background-color: #f0f0f0;
}
.gutterSplit {
    height: calc(100vh - 65px) !important;
    background-color: #f0f0f0 !important;
}
.gutterSplitVertical {
    background-color: #f0f0f0 !important;
}
.codePracticeWrapper {
    position: relative;
    background-color: #f0f0f0;
    padding: 10px;
    .problemHeader {
        color: #1a1a1a;
        height: 40px;
        padding-bottom: 10px;
        .btnBackWrapper {
            display: flex;
            align-items: center;
            .btnBack {
                background-color: rgba(0, 0, 0, 0.05);
                padding: 5px 10px;
                margin-right: 1.5px;
                color: #1a1a1a;
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                    // color: rgba(0, 0, 0, 0.5);
                }
                transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                -ms-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }
        .btnExecuteWrapper {
            display: flex;
            justify-content: center;
            .btn {
                background-color: rgba(0, 0, 0, 0.05);
                padding: 5px;
                margin-right: 1.5px;
                color: #1a1a1a;
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
                transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                -ms-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
            }
            .btnRun {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            .btnSubmit {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                color: rgb(1, 179, 40);
            }
        }
    }
    .problemDetail {
        height: calc(100vh - 65px);
        padding: 20px 0px 20px 20px;
        border: 1px solid #e2e8f0;
        background-color: #fff;
        .problemDescription {
            height: 100%;
            color: #1a1a1a;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 13px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: rgb(218, 218, 218);
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #aeaeae;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #979797;
            }
            .problemTitle {
                font-size: 24px;
                line-height: 32px;
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .userInteract {
        height: calc(100vh - 65px);
        width: 100%;
        .pythonEditor {
            height: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            .header {
                .code,
                .btnReload {
                    height: 30px;
                    display: flex;
                    align-items: center;
                    color: #1a1a1a;
                    font-weight: 500;
                    padding: 0px 10px;
                    font-size: 13px;
                }
                .btnReload {
                    justify-content: end;
                    cursor: pointer;
                    .icon {
                        padding: 5px;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                        border-radius: 2px;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        -ms-border-radius: 2px;
                        -o-border-radius: 2px;
                        transition: all linear 0.2s;
                        -webkit-transition: all linear 0.2s;
                        -moz-transition: all linear 0.2s;
                        -ms-transition: all linear 0.2s;
                        -o-transition: all linear 0.2s;
                    }
                }
                background-color: #fafafa;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
            .footer {
                display: flex;
                align-items: center;
                background-color: #fafafa;
                height: 25px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                color: #1a1a1a;
                font-weight: 400;
                padding: 0px 10px;
                font-size: 13px;
            }
        }
        .consoleWrapper {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            background-color: white;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none;
            .tabBarHeader {
                position: sticky;
                top: 0px;
                overflow: hidden;
                background-color: #fafafa;
                color: rgba(38, 38, 38, 0.7);

                font-weight: bold;
                padding-left: 10px;
                z-index: 100;
                margin-bottom: 10px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .contentConsole {
                padding: 0px 0px 10px 20px;
                width: calc(100% - 30px);
                color: #1a1a1a;
            }
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
}

.problemDrawer {
    border: 1.5px solid;
    border-color: rgba(0, 0, 0, 0.08);
    .problemItem {
        height: 50px;
        cursor: pointer;
        border-bottom-width: 1.5px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.08);
        display: grid;
        align-items: center;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    border-radius: 8px;
    .level {
        text-align: end;
    }
    .title {
        div {
            margin-left: 10px;
        }
    }
}
