.container {
    height: 100vh;
    padding: 0px 20px;
    background-size: 100% 100%;
    background-color: rgb(68, 54, 45);
    .gameLayout {
        width: 1024px;
        height: 576px;
        border: 1px solid;
        background-color: white;
    }
    .header {
        padding-left: 20px;
        color: rgb(173, 153, 140);
        font-weight: 500;
        font-size: 17px;
        height: 50px;
        display: flex;
        align-items: center;
        background: url('../../../../../public/images/game/control_bar_background.png');
        background-size: 100% 100%;
        background-color: rgb(68, 54, 45);
        .btnBack {
            cursor: pointer;
            width: 150px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: 500;
            background: url('../../../../../public/images/game/control_bar_cap_left.png') no-repeat;
            background-size: 100% 100%;
            background-color: transparent;
            transition: 0.1s all linear;
            -webkit-transition: 0.1s all linear;
            -moz-transition: 0.1s all linear;
            -ms-transition: 0.1s all linear;
            -o-transition: 0.1s all linear;
            &:hover {
                scale: 1.05;
            }
        }
        .titleHeader {
            width: 170px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: 500;
            background: url('../../../../../public/images/game/control_bar_level_name_background.png') no-repeat;
            background-size: 100% 100%;
            background-color: transparent;
        }
        .levelNumber {
            width: 120px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: 500;
            background: url('../../../../../public/images/game/btn-bg.png') no-repeat;
            background-size: 100% 100%;
            background-color: transparent;
        }
    }
}

.buttonControl {
    margin-left: 55px;
    .excuteButton {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            cursor: pointer;
            width: 70px;
            // &:hover {
            //width: 80px;
            transition: 0.5s all linear;
            -webkit-transition: 0.5s all linear;
            -moz-transition: 0.5s all linear;
            -ms-transition: 0.5s all linear;
            -o-transition: 0.5s all linear;
        }
    }
}
.codeControlWrapper {
    position: relative;
    height: 100%;
    .header {
        position: absolute;
        z-index: 5;
        background-image: url('../../../../../public/images/game/code_editor_top_bar_wood_background.png') no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        top: 0px;
        width: 100%;
        height: 70px;
        .pythonIcon {
            background-image: url('../../../../../public/images/game/python_small.png');
            background-size: 100% 100%;
            background-color: transparent;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
    }
    .codeEditor {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 470px;
        padding: 70px 10px;
        background: url('../../../../../public/images/game/code_editor_background.png') no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        top: 10px;
        z-index: 2;
        // color: #fff6df;
        .buttonWrapper {
            width: 80%;
            height: 50px;
            position: absolute;
            bottom: 20px;
            color: white;
            background: url('../../../../../public/images/game/scrubber_background.png') no-repeat;
            background-size: 100% 100%;
            background-color: transparent;
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            .playBtn,
            .reloadBtn {
                width: 170px;
                height: 40px;
                background: url('../../../../../public/images/game/code_toolbar_run_button_active.png') no-repeat;
                background-size: 100% 100%;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(199, 157, 117, 0.8);
                font-weight: bold;
                font-size: 17px;
                cursor: pointer;
                &:hover {
                    color: rgb(199, 157, 117);
                    scale: 1.05;
                }
                transition: 0.1s all linear;
                -webkit-transition: 0.1s all linear;
                -moz-transition: 0.1s all linear;
                -ms-transition: 0.1s all linear;
                -o-transition: 0.1s all linear;
            }
            .reloadBtn {
                margin-left: 20px;
            }
        }
    }
    .possibleMoveWrapper {
        background: url('../../../../../public/images/game/code_palette_wood_background.png') no-repeat;
        background-size: 100% 592px;
        background-color: transparent;
        position: absolute;
        bottom: 10px;
        height: 120px;
        width: 100%;
        display: flex;
        .possibleMove {
            margin-left: 20px;
            margin-top: 25px;
            width: 200px;
            height: 80px;
            background-color: rgb(20, 13, 8);
            color: #f3a931;
            padding: 2px 5px;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none;
            .possibleItem {
                cursor: pointer;
                border: 1px solid transparent;
                &:hover {
                    border: 1px solid #f3a931;
                }
            }
        }
        .content {
        }
    }
}

.resultModal {
    border: 0px solid rgba(0, 0, 0, 0);
    border-style: solid;
    border-image: url('../../../../../public/images/game/victory_modal_border_background.png') 250 0 100 0 fill round;
    border-width: 250px 0 100px 0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    height: 100px;
    width: 700px;
    position: relative;
    .modalTitle {
        font-weight: bold;
        position: absolute;
        top: -175px;
        width: 100%;
        text-align: center;
        color: #fcc935;
        font-size: 60px;
        text-shadow: #000 8px 8px 0, #000 -8px -8px 0, #000 8px -8px 0, #000 -8px 8px 0, #000 8px 0px 0, #000 0px -8px 0,
            #000 -8px 0px 0, #000 0px 8px 0;
    }
    .btnWrapper {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: -80px;
        .btnClose {
            background: url('../../../../../public/images/game/button-background-warning-active-border.png') no-repeat;
            background-size: 100% 100%;
            background-color: transparent;
            width: 150px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.6);
            cursor: pointer;
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
            transition: all 0.1s linear;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            -ms-transition: all 0.1s linear;
            -o-transition: all 0.1s linear;
        }
    }
}
