.main {
  background: radial-gradient(#2193b0, #6dd5ed);
  /* padding: 50px 0; */
  min-height: 100vh;
}

.forgot-password-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot-password-page__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-page__header a {
  display: inline-block;
}

.forgot-password-page .ant-card-body {
  padding: 26px;
}

.card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__form {
  margin: auto;
}

.card__form label {
  display: contents !important;
}

.card__footer {
  display: flex;
  justify-content: center;
  gap: 24px;
}