.content {
    width: 100%;
    margin: auto;
    height: 190px;
    position: absolute;
    top: -80px;
    .scoreWrapper,
    .detail {
        font-weight: bold;
        width: calc(100% - 35px);
        display: flex;
        justify-content: center;
        height: 80px;
        margin: 5px 15px;
    }
    .detail {
        font-weight: bold;
        color: #fcc935;
        font-size: 30px;
        text-shadow: #000 4px 4px 0, #000 -4px -4px 0, #000 4px -4px 0, #000 -4px 4px 0, #000 4px 0px 0, #000 0px -4px 0,
            #000 -4px 0px 0, #000 0px 4px 0;
        margin-top: 10px;
    }
    .scoreWrapper {
        background: url('../../../../../../public/images/game/xp_gems_parchment_2.png') no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        .number {
            font-size: 30px;
            font-weight: bold;
            color: #282116;
            width: 78px;
            height: 100%;
            display: flex;
            align-items: center;
            letter-spacing: -4px;
        }
        .detailNumber {
            color: #675c4c;
            text-transform: uppercase;
            font-weight: bold;
            white-space: nowrap;
            line-height: 18px;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .detailExp {
            justify-content: center;
            flex-direction: column;
            .progressBarWrapper {
            }
        }
    }
}

.detailNotEnough,
.detailTarget {
    font-weight: bold;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    margin: -20px -50px;
    color: #fcc935;
    font-size: 30px;
    text-shadow: #000 4px 4px 0, #000 -4px -4px 0, #000 4px -4px 0, #000 -4px 4px 0, #000 4px 0px 0, #000 0px -4px 0,
        #000 -4px 0px 0, #000 0px 4px 0;
}
.detailNotEnough {
    padding-left: 80px;
}
.detailTarget {
    background: rgba(0, 0, 0, 0) url('../../../../../../public/images/game/victory_modal_shelf.png') no-repeat center
        73px;
    background-size: contain;
    .imgTarget {
        height: 100px;
        width: 100px;
        background: url('../../../../../../public/images/game/target.png') no-repeat center;
        background-size: contain;
        margin-left: 50px;
    }
    .imgTreasure {
        height: 110px;
        width: 110px;
        background: url('../../../../../../public/images/game/treasure.png') no-repeat center;
        background-size: contain;
        margin-left: 50px;
    }
    .targetContent {
        font-size: 21px;
        margin-left: 150px;
        color: #a19076;
    }
}
