.gameCodePageWrapper {
    width: 100vw;
    height: 100vh;
    background: rgb(68, 54, 45);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gameCodePageHeader {
    position: absolute;
    top: 10px;
    left: 10px;

    .headerContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo img {
        width: 150px;
    }
}

.gameMap {
    // background-image: url('../../../../public/images/game/Dungeon_Map.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    img {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
    .linearLeft {
        position: absolute;
        height: 100vh;
        width: 70px;
        left: 0px;
        top: 0px;
        background-image: linear-gradient(to left, rgba(68, 54, 45, 0) 0%, rgb(68, 54, 45) 100%);
        z-index: 2;
    }
    .linearRight {
        position: absolute;
        height: 100vh;
        top: 0px;
        width: 70px;
        right: 0px;
        background-image: linear-gradient(to right, rgba(68, 54, 45, 0) 0%, rgb(68, 54, 45) 100%);
        z-index: 2;
    }
    .linearTop {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 0px;
        background-image: linear-gradient(to top, rgba(68, 54, 45, 0) 0%, rgb(68, 54, 45) 100%);
        z-index: 2;
    }
    .linearBottom {
        position: absolute;
        width: 100%;
        height: 70px;
        bottom: 0px;
        background-image: linear-gradient(to bottom, rgba(68, 54, 45, 0) 0%, rgb(68, 54, 45) 100%);
        z-index: 2;
    }
    .btnBackToHome {
    }
}

.itemMap {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    z-index: 3;
    // border: 4px solid #ff0000;
    transform: scaleY(0.75);
    &:hover {
        scale: 1.2;
    }
    -webkit-transform: scaleY(0.75);
    -moz-transform: scaleY(0.75);
    -ms-transform: scaleY(0.75);
    -o-transform: scaleY(0.75);

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    transition: 0.1s all linear;
    -webkit-transition: 0.1s all linear;
    -moz-transition: 0.1s all linear;
    -ms-transition: 0.1s all linear;
    -o-transition: 0.1s all linear;

    img {
        width: 45px;
        display: block;
        align-items: center;
    }
}
.mapItemDescription {
    width: 320px;
    height: 100%;
    padding: 10px;
    background-color: #d0c7ad;
    .titleDescription {
        font-size: 20px;
        font-weight: bold;
    }
    .description {
        color: #555;
        font-weight: 500;
    }
    .buttonPlay {
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-weight: bold;
        border: 4px solid black;
        background-color: #00a651;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 166, 81, 0.5);
            scale: 1.05;
        }
        transition: all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
    }
}

.pointer {
    // display: none;

    .highlightPointer {
        position: absolute;
        height: 75px;
        pointer-events: none;
        z-index: 10;

        animation-duration: 2s;
        animation-name: moveUpDown;
        animation-iteration-count: infinite;
    }

    @keyframes moveUpDown {
        0%,
        100% {
            transform: translate(-15px, -175px);
        }
        50% {
            transform: translate(-15px, -75px); /* Adjust the distance as needed */
        }
    }
}
