.content {
    height: 100%;
    padding: 20px 20px;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.learningPathWrapper {
    padding-right: 70px;
    z-index: 1;
}

.headerWrapper {
    padding: 20px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: #58cc02;
    color: white;
    * {
        font-size: 16px;
    }
    margin-top: 20px;
}

.titleWrapper {
    border: 1px solid red;
}

.introduceBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 16px;
    color: white;
    background-color: #58cc02;
    height: 40px;
    width: 140px;
    border: 1.5px solid #46a302;
    box-shadow: 0 2px 0 #46a302;
    cursor: pointer;
    * {
        font-size: 15px;
        padding: 0px 5px;
    }
    &:hover {
        background-color: #58cc02 !important;
        box-shadow: 0 2px 0 #4aab02 !important;
        border: 1.5px solid #4aab02 !important;
        /* background-color: none;
        border: none;*/
        color: #def5cc !important;
    }
}

.btnClickEffect {
    box-shadow: none;
    &:hover {
        box-shadow: none !important;
    }
}

//LEARNING PATH
.pathWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pathItemWrapper {
    position: relative;
    color: white;
    width: 70px;
    height: 65px;
    margin-top: 20px;
    cursor: pointer;
    * {
        font-size: 30px;
    }
    &:after {
        position: absolute;
        content: '';
        z-index: -1;
        height: 57px;
        width: 100%;
        top: 0px;
        background-color: #58cc02;
        box-shadow: 0 8px 0 #4aab02;
        border-radius: 50%/50%;
        -webkit-border-radius: 50%/50%;
        -moz-border-radius: 50%/50%;
        -ms-border-radius: 50%/50%;
        -o-border-radius: 50%/50%;
    }
}

.pathItemClick {
    // margin-top: 5px;
    &::after {
        top: auto;
        bottom: 0px !important;
        box-shadow: none;
    }
    .pathIcon {
        top: auto;
        bottom: 11.5px;
    }
}

.pathIcon {
    position: absolute;
    height: 34px;
    left: 18px;
    top: 11.5px;
    width: 42px;
}
//END LEARNING PATH

.boxWrapper {
    height: 100%;
    position: absolute;
    right: 0px;
    .fixedBox {
        position: sticky;
        top: 12px;
    }
    @media (max-width: 992px) {
        display: none;
    }
}

// RANKING BOX
.rankingBoxWrapper {
    min-width: 300px;
    width: 100%;
    margin-top: 20px;
    height: 130px;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 20px;
    * {
        font-size: 16px;
        font-weight: 500;
        color: #5e5e5e;
    }
    h1 {
        color: #4b4b4b;
        font-weight: bold;
    }
}

//MISSSION BOX

.missionBoxWrapper {
    min-width: 300px;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 20px;
    * {
        font-size: 16px;
        font-weight: 500;
        color: #5e5e5e;
    }
    h1 {
        color: #4b4b4b;
        font-weight: bold;
    }
}
.missionItem {
    margin-top: 20px;
    height: 70px;
    align-items: center;
    .missionIcon {
        img {
            width: 60px;
            height: 60px;
        }
    }
    .progressBarWrapper {
        align-items: center;
        .progressBar {
            height: 20px;
            width: 100%;
            border-radius: 16px 0px 0px 16px;
            -webkit-border-radius: 16px 0px 0px 16px;
            -moz-border-radius: 16px 0px 0px 16px;
            -ms-border-radius: 16px 0px 0px 16px;
            -o-border-radius: 16px 0px 0px 16px;
            background-color: #e5e5e5;
            font-size: 14px;
            font-weight: bold;
            color: #5e5e5e;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

//friendWrapper
.friendBoxWrapper {
    margin-top: 10px;
}
