.content {
    height: 100%;
    padding: 20px 20px 20px 20px;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.learningPathWrapper {
    padding-right: 70px;
    padding-left: 70px;
    z-index: 1;
}

.headerWrapper {
    padding: 30px 20px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: #57c2dc;
    color: white;
    * {
        font-size: 17px;
    }
    margin-top: 20px;
    h1 {
        font-size: 25px;
    }
}

.titleWrapper {
    border: 1px solid red;
}

.introduceBtn {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 16px;
    color: white;
    background-color: #57c2dc;
    height: 40px;
    width: 140px;
    border: 1.5px solid #49a7bc;
    box-shadow: 0 2px 0 #49a7bc;
    font-size: 16px;
    cursor: pointer;
    * {
        font-size: 15px;
        padding: 0px 5px;
    }
    &:hover {
        background-color: #57c2dc !important;
        box-shadow: 0 2px 0 #49a7bc !important;
        border: 1.5px solid #49a7bc !important;
        /* background-color: none;
        border: none;*/
        color: #ccedf5 !important;
    }
}
.desciption {
    width: 250px;
    font-size: 16px;
}
.btnClickEffect {
    box-shadow: none;
    &:hover {
        box-shadow: none !important;
    }
}

//LEARNING PATH
.pathWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pathItemWrapper {
    user-select: none;
    position: relative;
    color: white;
    width: 70px;
    height: 65px;
    margin-top: 20px;
    cursor: pointer;

    * {
        font-size: 30px;
    }
    &:after {
        position: absolute;
        content: '';
        z-index: -1;
        height: 57px;
        width: 100%;
        top: 0px;
        border-radius: 50%/50%;
        -webkit-border-radius: 50%/50%;
        -moz-border-radius: 50%/50%;
        -ms-border-radius: 50%/50%;
        -o-border-radius: 50%/50%;
    }
}

.pathItemDisabled {
    &:after {
        background-color: #e5e5e5;
        box-shadow: 0 8px 0 #b7b7b7;
    }
}
.pathItemCurrent {
    &::after {
        background-color: #57c2dc;
        box-shadow: 0 8px 0 #49a7bc;
    }
    &::before {
        position: absolute;
        content: '';
        z-index: 5;
        height: 95px;
        width: 100px;
        top: -15px;
        left: -15px;
        border: 7.5px solid #78d4eb;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
.pathItemFinished {
    .finishedBackground {
        position: absolute;
        z-index: 1;
        top: 5.2px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    &::after {
        background-color: #ffc800;
        box-shadow: 0 8px 0 #e6a100;
    }
}

.pathItemClick {
    // margin-top: 5px;
    &::after {
        top: auto;
        bottom: 0px !important;
        box-shadow: none;
    }
    .pathIcon {
        top: auto;
        bottom: 11.5px;
    }
    .finishedBackground {
        top: auto;
        bottom: 5.2px;
    }
}

.pathIcon {
    position: absolute;
    z-index: 2;
    height: 34px;
    top: 11.5px;
    width: 42px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
//END LEARNING PATH

.boxWrapper {
    height: 100%;
    position: absolute;
    right: 0px;
    .fixedBox {
        position: sticky;
        top: 12px;
    }
    @media (max-width: 992px) {
        display: none;
    }
}

// RANKING BOX
.rankingBoxWrapper {
    background-color: white;
    min-width: 300px;
    width: 100%;
    margin-top: 20px;
    height: 130px;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 20px;
    * {
        font-size: 16px;
        font-weight: 500;
        color: #5e5e5e;
    }
    h1 {
        color: #4b4b4b;
        font-weight: bold;
    }
}

//MISSSION BOX

.missionBoxWrapper {
    background-color: white;
    min-width: 300px;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 20px;
    * {
        font-size: 16px;
        font-weight: 500;
        color: #5e5e5e;
    }
    h1 {
        color: #4b4b4b;
        font-weight: bold;
    }
}
.missionItem {
    margin-top: 20px;
    height: 70px;
    align-items: center;
    .missionIcon {
        img {
            width: 60px;
            height: 60px;
        }
    }
    .progressBarWrapper {
        align-items: center;
        .progressBar {
            height: 20px;
            width: 100%;
            border-radius: 16px 0px 0px 16px;
            -webkit-border-radius: 16px 0px 0px 16px;
            -moz-border-radius: 16px 0px 0px 16px;
            -ms-border-radius: 16px 0px 0px 16px;
            -o-border-radius: 16px 0px 0px 16px;
            background-color: #e5e5e5;
            font-size: 14px;
            font-weight: bold;
            color: #5e5e5e;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

//friendWrapper
.friendBoxWrapper {
    margin-top: 10px;
}

.gameLayout {
    width: 1050px;
    height: 600px;
    border: 1px solid;
    margin-left: 20px;
}

.boardControl {
    margin-left: 55px;
    padding: 10px;
    width: 320px;
    height: 310px;
    border: 2px solid #5bd178;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    .dropzone {
        flex: 1;
        width: 100%;
        height: 100%;
    }
    .itemControl {
        margin-top: 5px;
        div {
            border: 2px solid #bdbdbd;
            width: 60px;
            height: 60px;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
        }
        cursor: pointer;
    }
}
.buttonControl {
    margin-left: 55px;
}

.boardDelete {
    width: 100px;
    height: 100px;
    .dropzone {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 70px;
        }
    }
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.excuteButton {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        cursor: pointer;
        width: 70px;
        // &:hover {
        //width: 80px;
        transition: 0.5s linear;
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        -o-transition: 0.5s linear;
    }
}
.dragOver {
    width: 120px;
    height: 120px;
}

.listControl {
    margin-top: 10px;
    margin-left: 55px;
    height: 100px;
    align-items: center;
    .itemList {
        margin-left: 10px;
        div {
            border: 2px solid #bdbdbd;
            width: 60px;
            height: 60px;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
        }
        cursor: pointer;
    }
}
