.statisticalWrapper {
    margin-bottom: 20px;
    margin-right: 50px;
}

.detail {
    //width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    height: 70px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 10px 20px;
    color: #696969;
    background-color: white;
}
