.statisticalWrapper {
    margin-bottom: 20px;
}

.detail {
    //width: 100%;
    border: 2px solid #afafaf;
    border-radius: 16px;
    height: 80px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 15px 20px;
    color: #696969;
}
