.content {
    height: 100%;
    padding: 50px 20px;
    width: 100%;
    max-width: 1060px;
    position: relative;
    border: 1px solid red;
}

.gameLayout {
    width: 1000px;
    height: 580px;
    border: 1px solid;
}

.boardControl {
    margin-left: 10px;
    width: 300px;
    height: 300px;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    .itemControl {
        margin-top: 5px;
        div {
            border: 1px solid;
            width: 60px;
            height: 60px;
        }
    }
}

.listControl {
    margin-top: 10px;
    height: 70px;
    border: 1px solid;
}
