@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@font-face {
    font-family: 'Consolas';
    src: local('Consolas'), url(../../../public/fonts/Consolas.ttf) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

* {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #E6F7FF;

}

/* .ant-popover-inner {
    background-color: #57c2dc !important;
}

.ant-popover-arrow::after,
.ant-popover-arrow::before {
    background-color: #57c2dc !important;
} */

.cpp-avatar {
}

.cpp-avatar--vip {
    border: 2px solid #ff9900;
    border-radius: 50%;
    position: relative;
    line-height: normal;
    display: inline-block;
}

.cpp-avatar__image {
    border: 1px solid rgba(228, 228, 228, 0.6);
}

.cpp-avatar-dropdown {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.cpp-avatar-dropdown__info-section {
    flex: 1;
    overflow: hidden;
}
