.itemTestCase {
    position: relative;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #262626;
    &:hover {
        background-color: rgba(73, 73, 73, 0.7);
        .deleteTestCaseBtn {
            display: flex;
        }
    }
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.itemTestCaseActive {
    background-color: rgb(73, 73, 73);
    &:hover {
        background-color: rgba(73, 73, 73, 0.7);
    }
}
.deleteTestCaseBtn {
    position: absolute;
    z-index: 100;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    padding: 0px;
    width: 13px;
    height: 13px;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    &:hover {
        background-color: rgba(73, 73, 73, 0.7);
        color: rgba(255, 255, 255, 0.7);
    }
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.addTestCaseBtn {
    display: flex;
    align-items: center;
    height: 30px;
    .addIcon {
        cursor: pointer;
        &:hover {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}
.inputWrapper,
.expectWrapper {
    flex-direction: column;
    span {
        color: rgba(255, 255, 255, 0.5);
        font-weight: bold;
        margin-bottom: 5px;
    }
    input {
        height: 40px;
        color: white;
        background-color: #ffffff1a;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-color: transparent;
        font-weight: bold;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
}
.expectWrapper {
    margin-top: 10px;
}
