@font-face {
    font-family: 'Menlo';
    src: url('../../../../../public/fonts/Menlo-Regular.ttf') format('truetype');
}
.wrongAnswer {
    color: rgb(239 71 67);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 10px;
}
.itemTestCase {
    position: relative;
    padding: 3px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    color: rgba(38, 38, 38, 0.7);
    &:hover {
        background-color: rgba(0, 10, 32, 0.15);
        color: rgba(38, 38, 38, 1);
        .deleteTestCaseBtn {
            display: flex;
        }
    }
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.itemTestCaseActive {
    background-color: rgba(0, 10, 32, 0.102);
    color: rgba(38, 38, 38, 1);
    &:hover {
        background-color: rgba(0, 10, 32, 0.15);
    }
}
.deleteTestCaseBtn {
    position: absolute;
    z-index: 100;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    padding: 0px;
    width: 13px;
    height: 13px;
    background-color: rgb(147, 147, 147, 0.7);
    color: rgb(255, 255, 255, 0.7);
    &:hover {
        background-color: rgba(147, 147, 147, 1);
        color: rgba(255, 255, 255, 1);
    }
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.addTestCaseBtn {
    display: flex;
    align-items: center;
    height: 30px;

    .addIcon {
        cursor: pointer;
        color: rgb(226, 232, 240);
        &:hover {
            color: rgb(193, 198, 205);
        }
    }
}
.inputWrapper,
.expectWrapper {
    flex-direction: column;
    span {
        color: #3c3c4399;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 12px;
    }
    input {
        height: 40px;
        color: #1a1a1a;
        background-color: #f2f3f4;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-color: transparent;
        font-weight: bold;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
}
.expectWrapper {
    margin-top: 10px;
}
.inputResultWrapper {
    display: flex;
    .inputTitle {
        color: #3c3c4399;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 12px;
    }
    div {
        width: 100%;
    }
    .inputWrapper {
        height: 60px;
        color: #1a1a1a;
        background-color: #f2f3f4;
        display: flex;
        padding-left: 10px;
        border-color: transparent;
        margin-bottom: 10px;
        div {
            width: 100%;
        }
        input {
            width: calc(100% - 10px);
            padding: 0px;
            &:focus {
                outline: none;
            }
        }
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 500;

        .inputName {
            letter-spacing: 0px;
            color: #1a1a1a;
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 12px;
        }
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
}

.outputResultWrapper,
.expectedResultWrapper {
    display: flex;
    .outputTitle,
    .expectedTitle {
        color: #3c3c4399;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 12px;
    }
    input {
        width: 100%;
        padding: 0px;
        &:focus {
            outline: none;
        }
    }
    .outputWrapper,
    .expectedWrapper {
        height: 40px;
        color: #1a1a1a;
        background-color: #f2f3f4;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-color: transparent;
        margin-bottom: 10px;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 500;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    .expectedWrapper {
        color: rgb(44 187 93);
    }
}

.failedResultWrapper {
    .errorTitle {
        margin-top: 10px;
        color: rgb(239 71 67);
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.75rem;
        white-space: nowrap;
    }
    .errorDetail {
        margin-top: 20px;
        color: white;
        background-color: #ef47431f;
        display: flex;
        align-items: center;
        padding: 15px 10px;
        border-color: transparent;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        pre {
            color: rgb(241 99 95);
            font-size: 0.75rem;
            line-height: 1rem;
            white-space: pre-wrap;
            word-break: break-all;
            font-family: Menlo, sans-serif !important;
        }
    }
}
.runCodeFirst {
    color: rgba(26, 26, 26, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accepted {
    color: rgb(45 181 93);
    line-height: 1.75rem;
    white-space: nowrap;
    height: 100%;
    margin-bottom: 10px;
    justify-content: center;
}
