.content {
    height: 100%;
    padding: 20px 20px;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.rankingTitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    word-break: break-word;
    margin-bottom: 10px;
    color: #4b4b4b !important;
    width: 100%;
    display: flex;
    justify-content: center;
}

.topThreeWrapper {
    // position: relative;
    padding-top: 20px;
    width: 100%;
    padding: 20px 100px;
    color: #4b4b4b;
    *div {
        display: flex;
        justify-content: center;
    }
    .topOneWrapper {
        img {
            box-shadow: 0px 0px 10px #4b4b4b;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        position: relative;
        .topOneIcon {
            border-radius: 0;
            width: 70px;
            height: 70px;
            position: absolute;
            right: -20px;
            top: 7px;
            border: none;
            box-shadow: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }
        height: 205px;
    }
    .topTwoWrapper {
        width: 150px;
        height: 150px;
        position: relative;
        img {
            box-shadow: 0px 0px 10px #4b4b4b;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        .topTwoIcon {
            border-radius: 0;
            width: 50px;
            height: 50px;
            position: absolute;
            right: -5px;
            top: 7px;
            box-shadow: none;
            border: none;
            //border: 2px solid rgb(255, 255, 255);
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }
    }
}

.otherTopWrapper {
    padding: 10px 40px;
    width: 100%;
    // .otherTop {
    //     height: 70px;
    //     width: 100%;
    //     display: flex;
    //     align-items: center;
    //     .topWrapper {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //     }
    //     .avatar {
    //         // display: flex;
    //         width: 100%;
    //         position: relative;
    //         z-index: 2;
    //         img {
    //             width: 60px;
    //             height: 60px;
    //             border-radius: 50%;
    //             -webkit-border-radius: 50%;
    //             -moz-border-radius: 50%;
    //             -ms-border-radius: 50%;
    //             -o-border-radius: 50%;
    //         }
    //         .information {
    //             color: #4b4b4b;
    //             font-size: 16px;
    //             font-weight: bold;
    //             background-color: #e7e5e5;
    //             position: absolute;
    //             width: 95%;
    //             height: 52px;
    //             display: flex;
    //             align-items: center;
    //             justify-content: space-between;
    //             top: 50%;
    //             right: 0;
    //             z-index: -1;
    //             transform: translateY(-50%);
    //             -webkit-transform: translateY(-50%);
    //             -moz-transform: translateY(-50%);
    //             -ms-transform: translateY(-50%);
    //             -o-transform: translateY(-50%);
    //             border-radius: 16px;
    //             -webkit-border-radius: 16px;
    //             -moz-border-radius: 16px;
    //             -ms-border-radius: 16px;
    //             -o-border-radius: 16px;

    //             .name {
    //                 padding-left: 50px;
    //                 width: 70%;
    //             }
    //             .score {
    //                 width: 30%;
    //             }
    //         }
    //     }
    // }
}

.gameBoxWrapper {
    margin-top: 8px;
    min-width: 300px;
    width: 100%;
    height: 130px;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 20px;
    * {
        font-size: 16px;
        font-weight: 500;
        color: #5e5e5e;
    }
    h1 {
        color: #4b4b4b;
        font-weight: bold;
    }
    img {
        width: 50px;
    }
}

.userRankingWrapper {
    margin-top: 10px;
    min-width: 300px;
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 20px;
    * {
        font-size: 16px;
        font-weight: 500;
        color: #5e5e5e;
    }
    h1 {
        color: #4b4b4b;
        font-weight: bold;
    }
    img {
        display: flex;
        width: 60px;
        height: 60px;
        box-shadow: 0px 0px 5px #4b4b4b;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
    }
    .top {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.otherTop {
    padding: 5px 10px;
}

.viewDetail {
    color: #1cb0f6 !important;
    width: 100%;
    text-align: right;
    cursor: pointer;
}
